{
  "Equipment": [
    "Breaker",
    "Disconnector",
    "EnergyConsumer",
    "EnergySource",
    "Fuse",
    "GeneratingUnit",
    "Jumper",
    "LinearShuntCompensator",
    "LineSegment",
    "LoadBreakSwitch",
    "PowerElectronicsConnection",
    "PowerTransformer",
    "Recloser",
    "Transformer",
    "TransformerTank",
    "VoltageRegulator"
  ],
  "DontTraverse": ["EnergyConsumer"],
  "ExcludedEquipment": [
    "EnergyConsumer","TransformerTank","Fuse","Disconnector","Jumper"
  ],
  "IgnoredEquipment": [
    "TransformerTank", "EnergyConsumer", "Disconnector","Jumper","Fuse"
  ]
}
